<ion-header class="ion-no-border">
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-button>
                <img src="../../../assets/logoconejoblanco.png" style="width: 30px;height: 30px;" />
                <!-- <img  src="../../assets/logow.JPG" style="width: 30px;height: 30px;"/> -->
            </ion-button>
        </ion-buttons>

        <ion-title class="main-header4">Mis Grupos</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="closeEventsModal()">
                <ion-icon slot="end" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<!-- <ion-header class="ion-no-border">
    <ion-toolbar color="tertiary"> -->
<!--     <ion-buttons slot="start">
      <ion-button>
        <img  src="../../assets/logow.JPG" style="width: 30px;height: 30px;"/>
      </ion-button>
    </ion-buttons> -->

<!-- <ion-title class="main-header4">Grupo 3</ion-title>

        <ion-title class="main-header4">
            <img src="../../../assets/logoconejoblanco.png" style="width: 30px;height: 30px;" /> Tus Grupos -->
<!-- <ion-title class="main-header4"></ion-title> -->
<!-- </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="newGroup()" color="secondary">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->


<ion-content>
    <ion-refresher slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let group of myGroups" (click)="openChatRoom(group.chat_room_id, group.name)">
        <ion-item>
            <ion-avatar slot="start" style="width: 72px;height: 72px;">
                <img [src]="group.chat_room_photo">
            </ion-avatar>
            <ion-label>
                <h2>{{group.name}}</h2>
                <p>Create Date : {{group.created_at}}</p>
            </ion-label>
        </ion-item>

    </ion-card>
</ion-content>