<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-button>
                <img src="../../../assets/logoconejoblanco.png" style="width: 30px;height: 30px;" />
                <!-- <img  src="../../assets/logow.JPG" style="width: 30px;height: 30px;"/> -->
            </ion-button>
        </ion-buttons>
        <ion-title class="main-header4">Mi red</ion-title>
        <!-- <ion-buttons slot="end">
      <ion-button class="badge-button" routerLink="/fire-signin" routerDirection="forward">
        <ion-icon name="person-circle-outline" color="light">
        </ion-icon>
      </ion-button>
    </ion-buttons> -->
    </ion-toolbar>

    <ion-toolbar color="tertiary">

        <ion-grid fixed class="ion-no-padding">

            <ion-row>
                <ion-col>
                    <ion-searchbar color="" placeholder="Buscar en tus contactos" (click)="findUsers()" search-icon="search-outline">
                    </ion-searchbar>

                    <ion-item (click)="findUsers()">
                        <ion-label floating>
                            <ion-icon name="person-add" item-start class="text-primary"></ion-icon>
                            Agregar contacto
                        </ion-label>
                        <ion-buttons slot="end">
                            <ion-button color="secondary">
                                <ion-icon slot="icon-only" name="add"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-content padding>
        <!--      <ion-list lines="none">
      <ion-item lines="none"  *ngFor="let not of notificationDetails">
        <ion-avatar slot="start" style="width: 72px;height: 72px;">
          <img [src]="not.userPhoto" (click)="goToSponsorProfile(not.idUser)">
        </ion-avatar>
        <ion-label>
          <h2 style="font-weight: bold;">{{not.userName}} {{not.userLastName}}</h2>
          <p>{{not.notificationDesc}}</p>
        </ion-label>
      </ion-item>
      </ion-list> -->


        <ion-item *ngFor="let user of userProfileContacts">
            <ion-avatar slot="start">
                <img [src]="user.photoProfileUser">
            </ion-avatar>
            <ion-label>
                <h2>{{user.userName}} {{user.userLastName}}</h2>
                <h3>{{user.userAbout}}</h3>
            </ion-label>
        </ion-item>
    </ion-content>




</ion-content>