<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-button>
                <img src="../../../assets/logoconejoblanco.png" style="width: 30px;height: 30px;" />
                <!-- <img  src="../../assets/logow.JPG" style="width: 30px;height: 30px;"/> -->
            </ion-button>
        </ion-buttons>
        <ion-title class="main-header4">Agregar al grupo</ion-title>
        <!-- <ion-buttons slot="end">
      <ion-button class="badge-button" routerLink="/fire-signin" routerDirection="forward">
        <ion-icon name="person-circle-outline" color="light">
        </ion-icon>
      </ion-button>
    </ion-buttons> -->
    </ion-toolbar>

    <ion-toolbar color="tertiary">

        <ion-grid fixed class="ion-no-padding">

            <ion-row>

                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Nombre del grupo</ion-label>
                        <ion-input [(ngModel)]="groupName"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-content padding>
        <!--      <ion-list lines="none">
      <ion-item lines="none"  *ngFor="let not of notificationDetails">
        <ion-avatar slot="start" style="width: 72px;height: 72px;">
          <img [src]="not.userPhoto" (click)="goToSponsorProfile(not.idUser)">
        </ion-avatar>
        <ion-label>
          <h2 style="font-weight: bold;">{{not.userName}} {{not.userLastName}}</h2>
          <p>{{not.notificationDesc}}</p>
        </ion-label>
      </ion-item>
      </ion-list> -->

        <ion-list lines="none">
            <ion-item lines="none" *ngFor="let user of userProfileContacts">
                <ion-avatar slot="start" style="width: 72px;height: 72px;">
                    <img [src]="user.photoProfileUser">
                </ion-avatar>
                <ion-label>
                    <h2 style="font-weight: bold;">{{user.userName}} {{user.userLastName}}</h2>
                    <p>{{user.userAbout}}</p>
                </ion-label>
                <ion-button class="round" (click)="addContact(user.userId)" (click)="changeShowFollow(user)" ion-button icon-end item-end>
                    <div *ngIf="!user.userFollow; else followed">
                        <p>Agregar</p>
                    </div>
                    <ng-template #followed>
                        <p>Agregado</p>
                    </ng-template>
                </ion-button>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-content>

<ion-footer>
    <ion-button (click)="createGroup()" color="secondary" expand="full">
        Crear Grupo!
    </ion-button>
</ion-footer>