.img-avatar{
    width:150px;
}

.top-20{
    margin-top: 20px;
}
:host.ion-page {
    background-color: var(--ion-item-background);
    --ion-background-color: var(--ion-item-background);
}

.img-logo{
    width:60px;
}

ion-col {
    text-align: center;
  }

.p1{ 
    font-size: 12px;
    text-align:center;
    margin: 0 auto;
}

.p2{ 
    font-size: 18px;
    text-align:center;
    margin: 0 auto;
}

.img-event{
    display: flex;   flex-wrap: nowrap;
   width: 200px;
   height: 100px;
}

.ion-nowrap{
    flex-wrap: nowrap
}