<ion-header class="ion-no-border">
  <ion-toolbar  color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <img  src="../../assets/logow.JPG" style="width: 30px;height: 30px;"/>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="secondary">
    </ion-buttons>
    <ion-title class="main-header4">Share Photos</ion-title>
    <ion-buttons slot="primary">
      <ion-button  color="secondary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
      
      <img class=".image-post" [src]="base64Image">

  <ion-row>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="openCamera()">
        <ion-icon slot="start" name="camera"></ion-icon>
        Camera
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full"
                  shape="round"
                  (click)="openGallery()">
        <ion-icon slot="start" name="images"></ion-icon>
        Gallery
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- ############ -->
  <ion-label position="floating">Photo Comment</ion-label>
  <ion-item  class="roundedInput8px margin-bottom-10">
    <ion-label>
      <ion-icon name="information-circle" color="medium"></ion-icon>
      </ion-label>
    <ion-input type="text" [(ngModel)]="eventPhotoModel.descrip"></ion-input>
  </ion-item>

  <ion-button color="terciary" fill="outline" expand="block" class="ion-margin-top"  (click)="newEventPhoto()">
    Share
  </ion-button>

</ion-content>


  <ion-footer>
    <ion-button (click)="closePhotoEvent()" color="secondary" expand="full">
      Close Modal
   </ion-button>
  </ion-footer>

